{{- /* Aggregator-shape baseline body. Body-only partial. */ -}}
{{- define "test-method-aggregator" -}}
{{- $m := .M -}}
{{- $iface := .Iface -}}
{{- $tracker := .Tracker -}}
{{- $opts := .Opts -}}
{{- $R := $m.ShapeValType -}}
		sctx := suite.AggregatorContextFor[{{ $iface }}, {{ $R }}](t, factory,
			func(ctx context.Context, impl {{ $iface }}) ({{ $R }}, error) {
{{- if $m.HasContext }}
				return impl.{{ $m.Name }}(ctx)
{{- else }}
				return impl.{{ $m.Name }}()
{{- end }}
			})
		var extras []suite.AggregatorAssertion[{{ $iface }}, {{ $R }}]
		if len({{ $opts }}.AggregatorBounds) > 0 {
			if lower, lok := {{ $opts }}.AggregatorBounds[0].Lower.({{ $R }}); lok {
				if upper, uok := {{ $opts }}.AggregatorBounds[0].Upper.({{ $R }}); uok {
					extras = append(extras, suite.AssertAggregatorBounded[{{ $iface }}, {{ $R }}](lower, upper))
				}
			}
		}
		suite.AssertAggregatorBaseline[{{ $iface }}, {{ $R }}]({{ $m.SampleResultAt 0 $tracker }}, extras...)(sctx)
{{- end -}}
