{{- /* Mutator-shape baseline body. Body-only partial. */ -}}
{{- define "test-method-mutator" -}}
{{- $m := .M -}}
{{- $iface := .Iface -}}
{{- $tracker := .Tracker -}}
{{- $V := $m.ShapeValType -}}
		sctx := suite.MutatorContextFor[{{ $iface }}, {{ $V }}](t, factory,
			func(ctx context.Context, impl {{ $iface }}, value {{ $V }}) {
{{- if $m.HasContext }}
				impl.{{ $m.Name }}(ctx, value)
{{- else }}
				impl.{{ $m.Name }}(value)
{{- end }}
			})
		suite.AssertMutatorSucceeds[{{ $iface }}, {{ $V }}]({{ $m.SampleParamAt 0 $tracker }})(sctx)
		suite.AssertMutatorRespectsContext[{{ $iface }}, {{ $V }}]({{ $m.SampleParamAt 0 $tracker }})(sctx)
		suite.AssertMutatorIdempotent[{{ $iface }}, {{ $V }}]({{ $m.SampleParamAt 0 $tracker }})(sctx)
		t.Run("rejects invalid", func(t *testing.T) {
			t.Skipf("{{ $m.Name }}: AssertMutatorRejectInvalid requires consumer-supplied check observing rejection via paired reader/aggregator")
		})
		suite.AssertMutatorConcurrentSafe[{{ $iface }}, {{ $V }}]({{ $m.SampleParamAt 0 $tracker }}, 4, 10)(sctx)
{{- end -}}
