{{- /* Pure-shape baseline body. Body-only partial. */ -}}
{{- define "test-method-pure" -}}
{{- $m := .M -}}
{{- $iface := .Iface -}}
{{- $tracker := .Tracker -}}
{{- $R := $m.ShapeValType -}}
		sctx := suite.PureContextFor[{{ $iface }}, {{ $R }}](t, factory,
			func(impl {{ $iface }}) {{ $R }} {
				return impl.{{ $m.Name }}()
			})
		suite.AssertPureReturns[{{ $iface }}, {{ $R }}]({{ $m.SampleResultAt 0 $tracker }})(sctx)
		suite.AssertPureRespectsContext[{{ $iface }}, {{ $R }}]()(sctx)
		suite.AssertDeterministic[{{ $iface }}, {{ $R }}](3)(sctx)
		suite.AssertPureRejectInvalid[{{ $iface }}, {{ $R }}]()(sctx)
		suite.AssertPureConcurrentSafe[{{ $iface }}, {{ $R }}](4, 10)(sctx)
{{- end -}}
