{{- /* CompositeWriter-shape baseline body. Body-only partial. */ -}}
{{- define "test-method-compositewriter" -}}
{{- $m := .M -}}
{{- $iface := .Iface -}}
{{- $tracker := .Tracker -}}
{{- $K1 := $m.ShapeKeyType -}}
{{- $V := $m.ShapeValType -}}
		sctx := suite.CompositeWriterContextFor[{{ $iface }}, {{ $K1 }}, {{ $V }}](t, factory,
			func(ctx context.Context, impl {{ $iface }}, k1 {{ $K1 }}, value {{ $V }}) error {
{{- if $m.HasContext }}
				return impl.{{ $m.Name }}(ctx, k1, value)
{{- else }}
				return impl.{{ $m.Name }}(k1, value)
{{- end }}
			})
		suite.AssertCompositeWriterBaseline[{{ $iface }}, {{ $K1 }}, {{ $V }}](
			{{ $m.SampleParamAt 0 $tracker }},
			{{ $m.SampleParamAt 1 $tracker }},
{{- if $m.HasFirstSentinel }}
			suite.AssertCompositeWriteRejectInvalid[{{ $iface }}, {{ $K1 }}, {{ $V }}]({{ $m.SampleParamAt 0 $tracker }}, {{ $m.ZeroParamAt 1 $tracker }}, {{ $m.SentinelsList }}),
{{- end }}
		)(sctx)
{{- end -}}
