{{- /* PoisonAccessor-shape baseline body. Body-only partial. */ -}}
{{- define "test-method-poisonaccessor" -}}
{{- $m := .M -}}
{{- $iface := .Iface -}}
{{- $opts := .Opts -}}
		sctx := suite.PoisonAccessorContextFor[{{ $iface }}](t, factory,
			func(impl {{ $iface }}) error {
				return impl.{{ $m.Name }}()
			})
		suite.AssertPoisonAccessorNilOnFresh[{{ $iface }}]()(sctx)
		suite.AssertPoisonAccessorRespectsContext[{{ $iface }}]()(sctx)
		suite.AssertPoisonAccessorConsistent[{{ $iface }}]()(sctx)
{{- if $m.HasFirstSentinel }}
		if poisonedFactory, ok := {{ $opts }}.PoisonedFactory.(func() {{ $iface }}); ok {
			suite.AssertPoisonAccessorRejectInvalid[{{ $iface }}](poisonedFactory, {{ $m.FirstSentinel }})(sctx)
		}
{{- end }}
		suite.AssertPoisonAccessorConcurrentSafe[{{ $iface }}](4, 10)(sctx)
{{- end -}}
