{{- /* Nilsafe contract: emits one call to [suite.AssertNilSafeNoPanic]
       with a closure invoking the method with zero/nil inputs. The
       runtime handles t.Run + recover. */ -}}
{{- define "test-directive-nilsafe" -}}
{{- $m := .M -}}
{{- $iface := .Iface -}}
{{- $tracker := .Tracker -}}
		suite.AssertNilSafeNoPanic[{{ $iface }}](
			func(ctx context.Context, impl {{ $iface }}) {
{{- if $m.HasResults }}
				{{ $m.BlankResults }} = impl.{{ $m.Name }}({{ $m.ZeroArgs $tracker }})
{{- else }}
				impl.{{ $m.Name }}({{ $m.ZeroArgs $tracker }})
{{- end }}
			},
		)(t, factory)
{{- end -}}
